



.banner-container {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/animal2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.banner-container2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/hand.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.banner-container3 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/health1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}




@media screen and (max-width:600px) {

    
}